In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
kto_201901 = pd.read_excel('./Tuorists_data/kto_201901.xlsx',
                          header = 1,
                          usecols = 'A:G',
                          skipfooter = 4)
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]

In [4]:
kto_201901.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [5]:
kto_201901.describe()

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [8]:
condition = (kto_201901['관광'] == 0) | \
            (kto_201901['상용'] == 0) | \
            (kto_201901['공용'] == 0) | \
            (kto_201901['유학/연수'] == 0)
kto_201901[condition]

        국적    관광   상용  공용  유학/연수     기타      계
4      마카오  2506    2   0     17     45   2570
20    이스라엘   727   12   0      9     57    805
22  우즈베키스탄  1958  561   0    407   2828   5754
38     스위스   613   18   0     19     97    747
45     그리스   481   17   4      0    273    775
46    포르투갈   416   14   0     13    121    564
51   크로아티아   226   12   0      3    250    491
54     폴란드   713   10   0     27    574   1324
59  대양주 기타   555    3   4      0     52    614
63    기타대륙    33    4   0      1     16     54
64    국적미상    33    4   0      1     16     54
65    교포소계     0    0   0      0  15526  15526
66      교포     0    0   0      0  15526  15526

In [10]:
kto_201901['기준년월'] = '2019-01'
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

In [13]:
kto_201901['국적'].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [14]:
kto_201901['국적'].value_counts()

아시아주     1
러시아      1
네덜란드     1
스웨덴      1
스위스      1
        ..
캐나다      1
멕시코      1
브라질      1
미주 기타    1
교포       1
Name: 국적, Length: 67, dtype: int64

In [16]:
# 유일한 국적 갯수 확인
kto_201901['국적'].nunique()

67

In [17]:
continents_list = ['아시아주', '미주', '구주', '대양주', '아프리카주',
                  '기타대륙', '교포소계']

In [22]:
condition  = kto_201901['국적'].isin(continents_list)

# 국적이 존재하는 데이터 값만 뽑아낸다.
kto_201901[condition == False]
kto_201901_country = kto_201901[~condition]
kto_201901_country

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
1         일본  198805  2233   127    785   4576  206526  2019-01
2         대만   86393    74    22    180   1285   87954  2019-01
3         홍콩   34653    59     2     90   1092   35896  2019-01
4        마카오    2506     2     0     17     45    2570  2019-01
5         태국   34004    37   199     96   6998   41334  2019-01
6      말레이시아   19043    95     7     99   2821   22065  2019-01
7        필리핀   14279   211   161    184  15638   30473  2019-01
8      인도네시아   14183   136    38    187   4298   18842  2019-01
9       싱가포르    8372    94     8     48   1333    9855  2019-01
10       미얀마    1304    10    31     67   3877    5289  2019-01
11       베트남   10739   763   110   1667   6904   20183  2019-01
12        인도    2318  2656    46    177   3474    8671  2019-01
13      스리랑카     157    54     5     28   1043    1287  2019-01
14      파키스탄     238   178    10    193    413    1032  2019-01
15     방글라데시     149   126    27     97    848    1247  2019-01
16      캄보디아     635    39    55     51   1915    2695  2019-01
17        몽골    8358    77   304    484    562    9785  2019-01
18        중국  320113  2993   138   8793  60777  392814  2019-01
19        이란      60    45    10     23     46     184  2019-01
20      이스라엘     727    12     0      9     57     805  2019-01
21        터키     792    13    32     36    912    1785  2019-01
22    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
23     카자흐스탄    2185    24     7     92   1266    3574  2019-01
24       GCC    1550    37    14     72    103    1776  2019-01
25    아시아 기타    1561   308    70    205   2410    4554  2019-01
27        미국   42989   418  2578    229  16523   62737  2019-01
28       캐나다    8034    57    30     43   4296   12460  2019-01
29       멕시코    1282    11     7     38    515    1853  2019-01
30       브라질    1136    16     9     41    403    1605  2019-01
31     미주 기타    1541    24    33    128    540    2266  2019-01
33        영국    7982   175    17     41   1933   10148  2019-01
34        독일    4925   278    19    177   1451    6850  2019-01
35       프랑스    3773   297    48    288   1168    5574  2019-01
36      네덜란드    1592    47    16     77    537    2269  2019-01
37       스웨덴     844    29     6     18     85     982  2019-01
38       스위스     613    18     0     19     97     747  2019-01
39      이탈리아    1968    83    17     40    623    2731  2019-01
40       덴마크     520    21     6     16    188     751  2019-01
41      노르웨이     552    66     4     28    151     801  2019-01
42       벨기에     490    24     4     22    169     709  2019-01
43     오스트리아     544     8     2     13    209     776  2019-01
44       스페인    1010    36    15     52    255    1368  2019-01
45       그리스     481    17     4      0    273     775  2019-01
46      포르투갈     416    14     0     13    121     564  2019-01
47       핀란드     412    23     1     18    405     859  2019-01
48      아일랜드     392    15     1      2    185     595  2019-01
49     우크라이나     593    58     3     28   1580    2262  2019-01
50       러시아   17260   181    37    191   7525   25194  2019-01
51     크로아티아     226    12     0      3    250     491  2019-01
52      루마니아     412     8     4      3    445     872  2019-01
53      불가리아     154     1     1     10    265     431  2019-01
54       폴란드     713    10     0     27    574    1324  2019-01
55     구주 기타    1809    44    25     91    996    2965  2019-01
57   오스트레일리아   12795    93    17     34   1346   14285  2019-01
58      뉴질랜드    2029    20    17      5    654    2725  2019-01
59    대양주 기타     555     3     4      0     52     614  2019-01
61  남아프리카공화국     368     9     1      6    616    1000  2019-01
62   아프리카 기타     768   718    90    206    908    2690  2019-01
64      국적미상      33     4     0      1     16      54  2019-01
66        교포       0     0     0      0  15526   15526  2019-01

In [23]:
kto_201901_country_new_index = kto_201901_country.reset_index(drop = True)
kto_201901_country_new_index

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

In [32]:
## 엑셀파일 보고 확인
continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 + ['오세아니아']*3 \
+ ['아프리카']*2 + ['기타대륙'] + ['교포']

continents

kto_201901_country_new_index['대륙'] = continents
kto_201901_country_new_index.head()

    국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙
0   일본  198805  2233  127    785  4576  206526  2019-01  아시아
1   대만   86393    74   22    180  1285   87954  2019-01  아시아
2   홍콩   34653    59    2     90  1092   35896  2019-01  아시아
3  마카오    2506     2    0     17    45    2570  2019-01  아시아
4   태국   34004    37  199     96  6998   41334  2019-01  아시아

In [38]:
## 총 입국인원 중 관광 비율이 얼마인가?

kto_201901_country_new_index['관광객비율(%)'] = \
round(kto_201901_country_new_index['관광']*100 / kto_201901_country_new_index['계'], 2)
kto_201901_country_new_index.head()

    국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)
0   일본  198805  2233  127    785  4576  206526  2019-01  아시아     96.26
1   대만   86393    74   22    180  1285   87954  2019-01  아시아     98.23
2   홍콩   34653    59    2     90  1092   35896  2019-01  아시아     96.54
3  마카오    2506     2    0     17    45    2570  2019-01  아시아     97.51
4   태국   34004    37  199     96  6998   41334  2019-01  아시아     82.27

In [42]:
kto_201901_country_new_index.sort_values(by = '관광객비율(%)', 
                                         ascending=False)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%)
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.23
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.51
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.54
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.26
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.39
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.31
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.57
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.27
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.30
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.95
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.42
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,84.95
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.27
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.06
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.49
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.66
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.27
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.46
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.83
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.76
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.06
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.90
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.78
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.16
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.10
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.24
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.19
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.11
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.91
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.52
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.51
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.01
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.69
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.88
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.48
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.06
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.14
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.11
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.01
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.85
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.21
44,핀란드,412,23,1,18,405,859,2019-01,유럽,47.96
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.25
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.86
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.03
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.37
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.80
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.73
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.28
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.03
18,이란,60,45,10,23,46,184,2019-01,아시아,32.61
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.55
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.73
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.22
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.65
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.56
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.06
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.20
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.95
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.00

In [47]:
kto_201901_country_new_index.pivot_table(values='관광객비율(%)',
                                        index = '대륙',
                                        aggfunc = 'mean')

        관광객비율(%)
대륙
교포      0.000000
기타대륙   61.110000
아메리카   68.196000
아시아    59.618800
아프리카   32.675000
오세아니아  84.806667
유럽     63.823043

In [49]:
condition = kto_201901_country_new_index['국적'] == '중국'
kto_201901_country_new_index[condition]

    국적      관광    상용   공용  유학/연수     기타       계     기준년월   대륙  관광객비율(%)
17  중국  320113  2993  138   8793  60777  392814  2019-01  아시아     81.49

- 전체 관광인원 중에서 각 나라가 차지하는 비율 구하기

In [51]:
tourist_sum = kto_201901_country_new_index['관광'].sum()
tourist_sum

884293

In [56]:
kto_201901_country_new_index['전체비율(%)'] = \
round(kto_201901_country_new_index['관광']*100 / tourist_sum, 1)
kto_201901_country_new_index

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.26,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.23,9.8
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.54,3.9
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.51,0.3
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.27,3.8
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.30,2.2
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.86,1.6
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.27,1.6
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,84.95,0.9
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.65,0.1
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.21,1.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.73,0.3
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.20,0.0
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.06,0.0
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.95,0.0
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.56,0.1
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.42,0.9
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.49,36.2
18,이란,60,45,10,23,46,184,2019-01,아시아,32.61,0.0
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.31,0.1
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.37,0.1
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.03,0.2
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.14,0.2
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.27,0.2
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.28,0.2
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.52,4.9
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.48,0.9
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.19,0.1
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.78,0.1
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.01,0.2
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.66,0.9
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.90,0.6
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.69,0.4
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.16,0.2
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.95,0.1
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.06,0.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.06,0.2
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.24,0.1
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.91,0.1
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.11,0.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.10,0.1
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.83,0.1
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.06,0.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.76,0.0
44,핀란드,412,23,1,18,405,859,2019-01,유럽,47.96,0.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.88,0.0
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.22,0.1
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.51,2.0
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.03,0.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.25,0.0
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.73,0.0
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.85,0.1
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.01,0.2
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.57,1.4
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.46,0.2
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.39,0.1
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.80,0.0
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.55,0.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.11,0.0
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.00,0.0

In [58]:
# 내림치순으로 정렬
kto_201901_country_new_index.sort_values(by ='전체비율(%)', ascending=False)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.49,36.2
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.26,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.23,9.8
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.52,4.9
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.54,3.9
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.27,3.8
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.30,2.2
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.51,2.0
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.86,1.6
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.27,1.6
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.57,1.4
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.21,1.2
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.42,0.9
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.48,0.9
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.66,0.9
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,84.95,0.9
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.90,0.6
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.69,0.4
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.73,0.3
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.51,0.3
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.06,0.2
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.46,0.2
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.03,0.2
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.14,0.2
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.27,0.2
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.28,0.2
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.01,0.2
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.16,0.2
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.01,0.2
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.83,0.1
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.06,0.1
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.56,0.1
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.22,0.1
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.85,0.1
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.11,0.1
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.39,0.1
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.55,0.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.10,0.1
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.24,0.1
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.91,0.1
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.06,0.1
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.95,0.1
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.65,0.1
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.78,0.1
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.31,0.1
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.37,0.1
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.19,0.1
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.20,0.0
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.11,0.0
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.06,0.0
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.80,0.0
18,이란,60,45,10,23,46,184,2019-01,아시아,32.61,0.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.25,0.0
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.73,0.0
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.95,0.0
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.03,0.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.88,0.0
44,핀란드,412,23,1,18,405,859,2019-01,유럽,47.96,0.0
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.76,0.0
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.00,0.0

## 위와 같은 데이터 전처리 과정을 함수로 만들기

In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [67]:
def create_kto_data(yy, mm) :
    # 1. 불러올 엑셀 파일 경로 지정
    file_path = './Tuorists_data/kto_{}{}.xlsx'.format(yy,mm)
    
    df = pd.read_excel(file_path, header = 1, usecols = 'A:G', skipfooter = 4)
    
    # 2. 기준년월 추가
    df['기준년월'] = '{}-{}'.format(yy,mm)
    
    # 3. 국적이 존재하는 데이터 값만 뽑아낸다.
    continents_list = ['아시아주', '미주', '구주', '대양주', '아프리카주',
                  '기타대륙', '교포소계']
    condition  = df['국적'].isin(continents_list)
    df_country = df[condition == False].reset_index(drop=True)
    
    # 4. 대륙 컬럼 추가하기
    continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 + ['오세아니아']*3 + ['아프리카']*2 + ['기타대륙'] + ['교포']
    df_country['대륙'] = continents
    
    # 5. 국가별 '관광객비율(%)' 컬럼 추가
    df_country['관광객비율(%)'] = round(df_country['관광']*100 / df_country['계'], 1)
    
    # 6. '전체비율(%)' 컬럼 추가
    tourist_sum = df_country['관광'].sum()
    df_country['전체비율(%)'] = round(df_country['관광']*100 / tourist_sum, 1)
    
    # 7. 결과 출력
    return df_country

In [73]:
## 함수가 잘 실행되는 것을 확인 할 수 있다.
create_kto_data(2019, '02').head()

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,204697,2125,119,2084,4175,213200,2019-02,아시아,96.0,22.5
1,대만,92276,105,20,908,1250,94559,2019-02,아시아,97.6,10.2
2,홍콩,49695,54,3,489,1071,51312,2019-02,아시아,96.8,5.5
3,마카오,3890,1,0,33,42,3966,2019-02,아시아,98.1,0.4
4,태국,32074,56,180,332,6578,39220,2019-02,아시아,81.8,3.5

### 만든 함수를 사용하여 2010 ~ 2021.5월 까지의 데이터를 받기

In [83]:
# zfill 빈칸앞에 0로 채워줌
# ignore_index = True 인덱스 새로 만들어줌

df_total = pd.DataFrame()

for yy in range(2010, 2021): 
    for mm in range(1, 13): 
        try:
            temp = create_kto_data(yy,str(mm).zfill(2))
            df_total = df_total.append(temp, ignore_index=True)
        except:
            pass
    
df_total.head(20)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3,8.9
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4,3.5
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1,3.3
5,말레이시아,3292,61,0,49,1157,4559,2010-01,아시아,72.2,0.8
6,필리핀,3984,219,104,87,16820,21214,2010-01,아시아,18.8,1.0
7,인도네시아,1840,327,3,65,2826,5061,2010-01,아시아,36.4,0.5
8,싱가포르,4201,120,3,27,1017,5368,2010-01,아시아,78.3,1.0
9,미얀마,630,18,54,10,3882,4594,2010-01,아시아,13.7,0.2
10,베트남,1384,284,21,150,2676,4515,2010-01,아시아,30.7,0.3
11,인도,1646,1387,7,68,2918,6026,2010-01,아시아,27.3,0.4
12,스리랑카,39,28,2,13,566,648,2010-01,아시아,6.0,0.0
13,파키스탄,70,200,1,41,402,714,2010-01,아시아,9.8,0.0
14,방글라데시,86,84,9,42,489,710,2010-01,아시아,12.1,0.0
15,캄보디아,102,22,0,25,131,280,2010-01,아시아,36.4,0.0
16,몽골,2333,234,6,197,554,3324,2010-01,아시아,70.2,0.6
17,중국,40425,11930,55,2751,36091,91252,2010-01,아시아,44.3,10.1
18,이란,69,309,0,3,217,598,2010-01,아시아,11.5,0.0
19,이스라엘,792,11,0,0,53,856,2010-01,아시아,92.5,0.2

In [84]:
df_total

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3,8.9
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4,3.5
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1,3.3
...,...,...,...,...,...,...,...,...,...,...,...
7495,대양주 기타,1,0,1,0,3,5,2020-05,오세아니아,20.0,0.0
7496,남아프리카공화국,1,0,3,0,25,29,2020-05,아프리카,3.4,0.0
7497,아프리카 기타,3,1,3,6,118,131,2020-05,아프리카,2.3,0.0
7498,국적미상,1,0,0,0,3,4,2020-05,기타대륙,25.0,0.0
7499,교포,0,0,0,0,790,790,2020-05,교포,0.0,0.0

In [85]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   국적        7500 non-null   object
 1   관광        7500 non-null   int64
 2   상용        7500 non-null   int64
 3   공용        7500 non-null   int64
 4   유학/연수     7500 non-null   int64
 5   기타        7500 non-null   int64
 6   계         7500 non-null   int64
 7   기준년월      7500 non-null   object
 8   대륙        7500 non-null   object
 9   관광객비율(%)  7500 non-null   float64
 10  전체비율(%)   7500 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 644.7+ KB

In [86]:
df_total.to_excel('./Tuorists_data/my_total.xlsx', index=False)

### 국적별로 저장하기

In [103]:
def country_save(country) :
    file_path = './Tuorists_data/my_total.xlsx'
    df = pd.read_excel(file_path, header = 0, usecols = 'A:K')
    
    condition = df['국적'] == country
    
    df = df[condition].sort_values(by = '관광객비율(%)', ascending=False)

    return df.reset_index(drop=True)

In [107]:
for i in range(len(df_total['국적'].unique())):
    print(df_total['국적'].unique()[i])

일본
대만
홍콩
마카오
태국
말레이시아
필리핀
인도네시아
싱가포르
미얀마
베트남
인도
스리랑카
파키스탄
방글라데시
캄보디아
몽골
중국
이란
이스라엘
터키
우즈베키스탄
카자흐스탄
GCC
아시아 기타
미국
캐나다
멕시코
브라질
미주 기타
영국
독일
프랑스
네덜란드
스웨덴
스위스
이탈리아
덴마크
노르웨이
벨기에
오스트리아
스페인
그리스
포르투갈
핀란드
아일랜드
우크라이나
러시아
크로아티아
루마니아
불가리아
폴란드
구주 기타
오스트레일리아
뉴질랜드
대양주 기타
남아프리카공화국
아프리카 기타
국적미상
교포

In [109]:
for i in range(len(df_total['국적'].unique())) :
    country = df_total['국적'].unique()[i]
    temp = country_save(country)
    temp.to_excel('./Tuorists_data/my_[국적별 관광객 데이터] {}.xlsx'.format(country))

#### 성공적으로 저장했다!!!